@import "../valo/valo.scss";

@mixin listaide {
	@include valo;

	.la-header {
		@include valo-gradient(#585858);
		
		.v-button, .v-menubar-menuitem {
			color: #FFF;
		}
	}
	
	.la-appname {
		background: none;
		border: none;
		font-size: 30px;
		box-shadow: none;
		height: auto;
	}
	
	.la-footer {
		@include valo-gradient(#e4e4e4);
	}
	
	.la-checkbox-alignment .v-checkbox {
		top: 35px!important;
	}
	
	/* quiet danger button visibility fix */
	.v-button-danger.quiet:not(:hover):not(:focus) {
  		color: #464646;
	}
	
	/* inheritance highlighting */
	$highlight-single-color: #76f27c;
	$highlight-multi-color: #eccb65;
	
	.v-grid-row.la-highlight-single td {
		background-color: $highlight-single-color;
	}
	
	.v-grid-row.la-highlight-multi td {
		background-color: $highlight-multi-color;
	}
	
	.la-highlight-single-symbol .v-icon {
		color: $highlight-single-color;
	}
	
	.la-highlight-multi-symbol .v-icon {
		color: $highlight-multi-color;
	}
	
	/* fix link & menubar color inside grid when selected */
	.v-grid-row-selected > .v-grid-cell {
		a, .v-menubar-menuitem {
			color: #C8DBED!important;
		}
	}
	
}
