@import "../valo/valo.scss";

@mixin listaide {
	@include valo;

	.la-header {
		@include valo-gradient(#585858);
		
		.v-button {
			color: #FFF;
		}
	}
	
	.la-appname {
		background: none;
		border: none;
		font-size: 30px;
		box-shadow: none;
		height: auto;
	}
	
	.la-footer {
		@include valo-gradient(#e4e4e4);
	}
	
}
