@import "../valo/valo.scss";

@mixin listaide {
	@include valo;

	.la-header {
		@include valo-gradient(#585858);
		
		.v-button {
			color: #FFF;
		}
	}
	
	.la-appname {
		background: none;
		border: none;
		font-size: 30px;
		box-shadow: none;
		height: auto;
	}
	
	.la-footer {
		@include valo-gradient(#e4e4e4);
	}
	
	.la-checkbox-alignment .v-checkbox {
		top: 35px!important;
	}
	
	.v-table .v-popupbutton {
		padding: 0 8px;
	}
	
	
	/* SplitPopupButton */
	.la-splitpopupbutton-popup {
  		border-bottom-left-radius: 0!important;
  		border-top-left-radius: 0!important;
  		border-left: none!important;
  		min-width: 0!important;
  		
  		.v-popup-indicator::before {
  			margin: 0!important;
		}
	}

	.la-splitpopupbutton-main {
  		border-bottom-right-radius: 0!important;
  		border-top-right-radius: 0!important;
	}
	
	.la-splitpopupbutton-main, .la-splitpopupbutton-popup {
		padding: 0 16px!important;
	}
	
	/* quiet danger button visibility fix */
	.v-button-danger.quiet:not(:hover):not(:focus) {
  		color: #464646;
	}
	
}
